__pycache__/
*.pyc
*.so
*.dylib
*.dll
build/
dist/
*.egg-info/
.pytest_cache/
*.whl

.Rcheck/
*.Rhistory
.Rhistory
.RData
*.o
*.so
*.dll
src/*.o
streamgraph.Rcheck/
*.tar.gz

.DS_Store
.idea/
*.swp
*~
Thumbs.db
notatki.md
