useDynLib(streamgraph, .registration = TRUE)
importFrom(Rcpp, evalCpp)

export(stream_graph)
export(add_edge)
export(same_component)
export(component_id)
export(n_components)
export(component_size)
export(degree)
export(has_edge)
export(neighbours)
export(n_nodes)
export(n_edges)
export(triangle_count)
export(local_triangles)
export(all_local_triangles)
export(add_edges)
export(density)
export(avg_degree)
export(max_degree)
export(degree_histogram)
export(component_nodes)
export(component_ids)
export(save_graph)
export(load_graph)
export(betweenness_approx)
export(node_index)
export(node_id)
export(get_id)
export(get_key)
export(n_indexed)
export(has_key)
